
<section class="bg-gray-50 p-4  shadow-lg border grid-cols-3 grid text-gray-700 gap-x-10 gap-y-4">
    <h2 class="col-span-3 text-center text-2xl">Buscar Produto</h2>
    <div>
        <label for="">Produto</label>
        <input type="text" class="px-4 py-2 border w-full" name="estoque">
    </div>
    <div>
        <label for="">Código de Barras</label>
        <input type="text" class="px-4 py-2 border w-full" name="estoque">
    </div>
    <div>
        <label for="">Referência</label>
        <input type="text" class="px-4 py-2 border w-full" name="estoque">
    </div>
    <div class="col-span-3 ">
        <button class="ml-auto block bg-blue-500 text-white px-4 py-2 hover:bg-blue-600">Buscar</button>
    </div>
</section><br>

<section class="space-y-2 relative p-4 bg-gray-50  border shadow-lg">

    <table class="border w-full">
        <caption class="mb-2">
            Produtos cadastrados
        </caption>
        <thead class="border text-left bg-gray-200 ">
            <tr >
                <th class="p-2">Id</th>
                <th class="p-2">Nome</th>
                <th class="p-2">Descrição</th>
                <th class="p-2">Status</th>
                <th class="p-2">Modelo</th>
                <th class="p-2">Categoria</th>
                <th class="p-2">Marca</th>
            </tr>
        </thead>
        <tbody class="text-left">
            <tr>
                <th class="p-2">1</th>
                <td class="p-2">Produto x</td>
                <td class="p-2">Descrição y x</td>
                <td class="p-2">Ativo</td>
                <td class="p-2">Modelo z</td>
                <td class="p-2">Categoria Teste</td>
                <td class="p-2">Marca Teste</td>
            </tr>
        </tbody>
    </table>

</section>

<script src="/js/admin/edicaoProduto.js"></script>