<section class="py-5 ">

    <% if (typeof titulo != "undefined" && titulo) { %>
        <h2 class="text-2xl text-center font-semibold text-gray-700">
           <%= titulo  %>
        </h2>
    <% } %>

    <ul class="flex p-5 w-full space-x-5 overflow-x-auto snap-x snap-mandatory">

       
        <% for( let i = 0; i < 10; i++ ) { %>
            
            <li class="snap-center">
                <%- include('cardProduto') %>
            </li>
        <% } %>
        

    </ul>

</section>