<section id="carrinho" class="fixed top-0   right-[-100%] h-full w-[90%] z-50 duration-300  bg-white flex flex-col justify-between max-w-screen-md ">
    
    <div class="text-right text-gray-700 text-xl">

        <button onclick="fecharCarrinho()" class="border-b p-2 pr-5 w-full text-right" >
            <i class="bi bi-x  text-4xl text-gray-700"></i>
        </button>

        <h2 class="w-full p-4 text-2xl text-center">MEU CARRINHO</h2>

        <ul id="listaProdutosCarrinho" class="overflow-y-auto max-h-96">
            <li class="py-2 px-4 border border-blue-500 rounded-full text-blue-500 flex items-center justify-between space-x-2 w-[80%] m-auto">
                <i class="bi bi-exclamation-circle leading-3"></i>
                <p class="text-sm">O carrinho de compras esta vazio</p>
            </li>

        </ul>
      
    </div>

    <div>
        <div>
            <img src="/images/logo.png" alt="logo" class="w-[50%] m-auto ">
        </div>
        <div class="bg-blue-300 p-2 pr-5 flex items-center space-x-2 text-xl text-blue-600 ">
            <i class="bi bi-person-fill leading-3"></i>
            <a href="#">Criar uma conta</a>
        </div>
    </div>
</section>




<script>
    // abrir e fechar
    function fecharCarrinho(){
        const carrinho = document.getElementById('carrinho')
        carrinho.classList.add('right-[-100%]')

        setTimeout(() => {
            carrinho.classList.add('hidden')
        }, 300);
    }
    function abrirCarrinho(){
        carregarCarrinho()
        const carrinho = document.getElementById('carrinho')
        carrinho.classList.remove('hidden')
        
        setTimeout(() => {
            carrinho.classList.replace('right-[-100%]', 'right-0')
        }, 30);
    }



    function carregarCarrinho(){
        if(localStorage.carrinho){
            const carrinho = JSON.parse(localStorage.carrinho)

            const listaProdutosCarrinho = document.getElementById('listaProdutosCarrinho')

            let lista = ''
            carrinho.forEach(e => {
                lista += `
                
                <li class="border text-left p-2 ">
                    <p><b>Produto:</b> ${e.nome}</p>
                    <p><b>Quantidade:</b> ${e.quantidade}</p>
                    <p><b>Valor:</b> R$${e.valor}</p>
                    <p><b>Valor:</b> R$${e.total}</p>
                    <button class=" ml-auto block">
                        <i class="bi bi-trash2-fill text-red-400 text-2xl"></i>
                    </button>
                </li>
                `
            });

            listaProdutosCarrinho.innerHTML = lista

        }
    }

</script>
