<section class="w-full aspect-square p-5 flex overflow-x-auto space-x-5 snap-x snap-mandatory">


    <img 
        src="https://down-br.img.susercontent.com/file/656c0e3868c947561b8ba0b8d28b7b24" 
        alt="imagem do produto"
        class="w-full rounded-xl overflow-hidden object-cover aspect-square flex-none snap-center border"
    >
    <img 
        src="https://images.tcdn.com.br/img/img_prod/1208773/kit_com_5_baloes_metalizado_redondo_24cm_1093_1_7fcd9c6b12d993546019643a549da7e9.jpg" 
        alt="imagem do produto"
        class="w-full rounded-xl overflow-hidden object-cover aspect-square flex-none snap-center border"
    >
    <img 
        src="https://32966.cdn.simplo7.net/static/32966/sku/baloes-bexigas-e-acessorios-balao-metalizado-redondo-18-polegadas--p-1663181408131.jpg" 
        alt="imagem do produto"
        class="w-full rounded-xl overflow-hidden object-cover aspect-square flex-none snap-center border"
    >
    <img 
        src="https://acdn.mitiendanube.com/stores/003/445/777/products/redondo-e2621d089768890ae717008346071725-1024-1024.jpg" 
        alt="imagem do produto"
        class="w-full rounded-xl overflow-hidden object-cover aspect-square flex-none snap-center border"
    >
    <img 
        src="https://lojadeartigosparafestas.com.br/wp-content/uploads/2019/07/Balao-redondo-metalizado.jpg" 
        alt="imagem do produto"
        class="w-full rounded-xl overflow-hidden object-cover aspect-square flex-none snap-center border"
    >
        

</section>