<nav class="border-t-2 border-b-2 border-gray-200 p-2 text-gray-700">
    <ul class="flex items-center justify-around space-x-5 overflow-x-auto pb-2 snap-x snap-mandatory ">
        <li class="flex-none snap-start">Categoria</li>
        <li class="flex-none snap-start">Categoria</li>
        <li class="flex-none snap-start">Categoria</li>
        <li class="flex-none snap-start">Categoria</li>
        <li class="flex-none snap-start">Categoria</li>
        <li class="flex-none snap-start">Categoria</li>
        <li class="flex-none snap-start">Categoria</li>
        <li class="flex-none snap-start">Categoria</li>
        <li class="flex-none snap-start">Categoria</li>
        <li class="flex-none snap-start">Categoria</li>
        <li class="flex-none snap-start">Categoria</li>
    </ul>
</nav>