<footer class="w-full p-5 bg-yellow-100 aspect-square">
    <ul class="space-y-2">
        <li>
            <a href="#">Quem somos</a>
        </li>
        <li>
            <a href="#">Trocas</a>
        </li>
        <li>
            <a href="#">Shop na Mídia</a>
        </li>
        <li>
            <a href="#">Prazo de Entrega</a>
        </li>
        <li>
            <a href="#">Fale conosco</a>
        </li>
        <li>
            <a href="#">Politica de Privacidade</a>
        </li>
    </ul>

    <br><hr class="border border-blue-300"><br>

    <h2 class="text-center text-2xl font-semibold mb-5">Quer fala com a gente?</h2>
    <ul class="space-y-2 ">
        <li>
           <span class="mr-2"><i class="bi bi-envelope"></i></span> <a href="#">shop@gmail.com</a>
        </li>
        <li>
            <span class="mr-2"><i class="bi bi-geo-alt"></i></span><a href="#">Manaus - AM</a>
        </li>
    </ul>

    <br><hr class="border border-blue-300"><br>

    <h2 class="text-center text-2xl font-semibold mb-5">Siga nas redes sociais</h2>
    <div class="flex space-x-4">
        <% for( let i = 0; i < 4; i++ ) { %>
        
            <div class="bg-black w-14 rounded-full aspect-square"></div>
        <% } %>

    </div>

    <br><hr class="border border-blue-300"><br>
    <h2 class="text-center text-2xl font-semibold mb-5">Meios de pagamento</h2>

    <div class="flex flex-wrap space-x-2 space-y-2 items-center justify-around">
        <img src="/icons/amex@2x.png"       class="w-16 h-8 object-cover" alt="icone">
        <img src="/icons/aura@2x.png"       class="w-16 h-8 object-cover" alt="icone">
        <img src="/icons/discover@2x.png"   class="w-16 h-8 object-cover" alt="icone">
        <img src="/icons/elo@2x.png"        class="w-16 h-8 object-cover" alt="icone">
        <img src="/icons/hipercard@2x.png"  class="w-16 h-8 object-cover" alt="icone">
        <img src="/icons/mastercard@2x.png" class="w-16 h-8 object-cover" alt="icone">
        <img src="/icons/pix@2x.png"        class="w-16 h-8 object-cover" alt="icone">
        <img src="/icons/visa@2x.png"       class="w-16 h-8 object-cover" alt="icone">
    </div>

    <br><hr class="border border-blue-300"><br>

    <img src="/images/logo.png" alt="logo" class="w-full">


    <p class="text-sm text-gray-700 pt-10 pb-1 text-center">Copyright shop dos balões - 123123123123213 - 2024. Todos os direitos reservados.</p>


</footer>