<nav class="px-5 py-4 flex items-center justify-between">
    <img src="/images/logo.png" alt="logo" class="h-10">

    <div class="flex space-x-4 items-center text-gray-700  ">

        <button class="flex items-center justify-center  border-blue-500 h-10 w-10">
            <i class="bi bi-search  text-3xl" style="line-height: 10px;"></i>
        </button>
        
        <button onclick="abrirCarrinho()" class="flex items-center justify-center  border-blue-500 h-10 w-10">
            <i class="bi bi-cart3 text-3xl" style="line-height: 10px;"></i>
        </button>

        <button onclick="abrirMenu()" class="flex items-center justify-center  border-blue-500 h-10 w-10">
            <i class="bi bi-list text-4xl" style="line-height: 30px;"></i>
        </button>
    </div>
</nav>