<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title>Criar Conta</title>
    <!-- BOOTSTRAP ICONS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <!-- TAILWINDCSS -->
    <link rel="stylesheet" href="/css/output.css">
    <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon">

</head>
<body class="bg-gradient-to-r from-c2 to-c1 flex items-center justify-center h-screen relative" >
    <div style="background-image: url('/assets/fundo.png'); background-size: 50%;" class="w-screen h-screen absolute z-0"></div>

    <div  class="bg-white md:rounded-lg shadow-2xl w-full   max-w-96 lg:max-w-[700px] p-5 text-gray-700   z-10 lg:grid lg:grid-cols-2 lg:items-start lg:gap-x-5">
        <div class="space-y-2">
            <div>
                <img src="/assets/logo.png" alt="" class="w-40 m-auto">
                <h1 class="text-2xl text-gray-600 font-semibold text-center">CRIAR CONTA</h1>
                <h2 class="text-xl text-gray-600 font-semibold pb-2 text-center">Preencha seus dados</h2>
            </div>
            <div class="flex flex-col">
                <label for="nome" class="text-sm">Nome: <span class="text-red-400">*</span></label>
                <input id="nome" required type="text" class="px-4 py-2 focus:outline-none bg-gray-100" autocomplete="naJ☻me">
            </div>
            <div class="flex flex-col">
                <label for="telefone" class="text-sm">Telefone: <span class="text-red-400">*</span></label>
                <input id="telefone" required type="text" class="px-4 py-2 focus:outline-none bg-gray-100" autocomplete="tel">
            </div>
            <div class="flex flex-col">
                <label for="email" class="text-sm">Email: <span class="text-red-400">*</span></label>
                <input id="email"  type="email" class="px-4 py-2 focus:outline-none bg-gray-100" autocomplete="email">
            </div>
            <div class="flex flex-col">
                <label for="senha" class="text-sm">Senha: <span class="text-red-400">*</span></label>
                <input id="senha" required type="password" class="px-4 py-2 focus:outline-none bg-gray-100" autocomplete="new-password">
            </div>
            <div class="flex flex-col">
                <label for="confirmarSenha" class="text-sm">Confirmar Senha: <span class="text-red-400">*</span></label>
                <input id="confirmarSenha" required type="password" class="px-4 py-2 focus:outline-none bg-gray-100" autocomplete="new-password">
            </div>
            
            <div class="pt-2">
                <button onclick="enviar()" id="criarContaBtn" class="bg-c1 hover:bg-c2 px-4 py-2 w-full text-white font-semibold">CRIAR CONTA</button>
                <p class="text-center pt-2">Já tem uma conta? <a href="/entrar" class="text-c1 hover:underline">Entrar</a> </p>
            </div>
        </div>

        <% if (typeof banners != "undefined" && banners && banners.length != 0) { %>
            <div id="container" class="hidden h-full object-cover max-w-auto overflow-x-hidden lg:flex">
                <% banners.map(element => { %>             
                    <img 
                        src="/banner/form/<%= element.img  %>" 
                        alt=""
                        class="hidden lg:block h-full object-cover max-w-auto"
                    >
                <% }) %>
            </div>
        <% } %>
        

    </div>
</body>
</html>
<script src="/js/loja/criarConta.js"></script>
