<section class="space-y-2 relative p-4">

    <!-- CREATE -->
    <form id="createForm" class="max-w-screen-lg flex items-end space-x-2">
        <div class="w-96">
            <label for="inputCreateCategoria">CADASTRAR CATEGORIA</label><br>
            <input type="text" class="px-4 py-2 border w-full" name="nome" id="inputCreateCategoria">
        </div>
        <button type="submit" class="py-2 px-5 bg-green-600 hover:bg-green-700 text-white">Cadastrar</button>
    </form>

    <!-- UPDATE -->
    <form id="updateForm" class="max-w-screen-lg flex items-end space-x-2">
        <div class="w-96">
            <label for="inputUpdateCategoria">ATUALIZAR CATEGORIA</label><br>
            <input type="text" class="px-4 py-2 border w-full" name="nome" id="inputUpdateCategoria">
        </div>
        <button type="submit" class="py-2 px-5 bg-blue-500 hover:bg-blue-600 text-white">Atualizar</button>
    </form><br><br>

    <table class="border w-full max-w-screen-md">
        <caption class="mb-2">Categorias</caption>
        <thead class="border text-left bg-gray-200">
            <tr>
                <th class="p-2">Categoria</th>
                <th class="p-2 w-28">Editar</th>
                <th class="p-2 w-28">Apagar</th>
            </tr>
        </thead>
        <tbody class="text-left bg-white">
            <% categorias.forEach(element => { %>
                <tr class="border">
                    <th class="p-2 border"><%= element.nome_categoria %></th>
                    <th class="p-2 border">
                        <!-- btn editar -->
                        <button onclick="editar(this)" categoria_id="<%= element.categoria_id %>" nome="<%= element.nome %>" class="flex items-center space-x-2 bg-blue-500 hover:bg-blue-600 text-white px-4 py-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen-fill" viewBox="0 0 16 16">
                                <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001"/>
                            </svg>
                            <p>Editar</p>
                        </button>
                    </th>
                    <th class="p-2 border">
                        <!-- btn apagar -->
                        <button onclick="deleteCategoria('<%= element.categoria_id %>')" class="flex items-center space-x-2 bg-red-500 hover:bg-red-600 text-white px-4 py-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                                <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5"/>
                            </svg>
                            <p>Apagar</p>
                        </button>
                    </th>
                </tr>
            <% }) %>
        </tbody>
    </table>

</section>


<script src="/js/admin/categorias.js"></script>