<% if (typeof aviso != "undefined" && aviso) { %>
    <div class=" <%= `bg-[${paleta.c1}]` %> p-2 text-sm <%= `text-[${paleta.c5}]` %> text-center">
        <p class="font-semibold drop-shadow-md"><%= aviso %></p>
    </div>
<% } %>