<div  class="fixed bottom-10 right-5 z-30 space-y-4 flex flex-col duration-300 " >
    <button id="btnUp" class="bg-blue-500 hover:bg-blue-600 duration-100 rounded-full w-11 aspect-square flex items-center justify-center ">
        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-arrow-up-short text-white" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8 12a.5.5 0 0 0 .5-.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 .5.5"/>
          </svg>
    </button>
    

    <a 
        href='https://api.whatsapp.com/send?phone=<%= whatsapp  %>'
        target="_blank"
    >
        <img src="/assets/whatsapp.png" class="w-12 " alt="">
    </a>
</div>

<script>
    const btnUp = document.getElementById('btnUp');

    // esconder btn quando tiver no topo
    window.onscroll = function() {
    if (document.documentElement.scrollTop === 0) {
        btnUp.classList.replace('flex', 'hidden')
    } else {
        btnUp.classList.replace('hidden', 'flex')
    }

    btnUp.addEventListener('click', ()=>scrollToTop())

    function scrollToTop() {
        // Se a página já estiver no topo, não há necessidade de rolar
        if (window.scrollY === 0) return;

        // Rola suavemente até o topo da página em 300ms
        window.scrollTo({
            top: 0,
            behavior: 'smooth'
        });
    }
};

</script>