<section class="relative m-auto   overflow-hidden">
    <div id="containerSlideProduto" class="relative w-full  flex overflow-x-auto md:overflow-x-hidden space-x-5 snap-mandatory snap-x  ">
      <img 
        src="/banner/1.png" 
        alt="imagem do produto"
        class="imagemSlideProduto w-full   overflow-hidden object-cover flex-none snap-center aspect-square md:aspect-[21/9]"
      >
      <img 
        src="/banner/2.png" 
        alt="imagem do produto"
        class="imagemSlideProduto w-full   overflow-hidden object-cover flex-none snap-center aspect-square md:aspect-[21/9]"
      >
      <img 
        src="https://images.tcdn.com.br/img/img_prod/1193008/1709652470_feed_43.png" 
        alt="imagem do produto"
        class="imagemSlideProduto w-full   overflow-hidden object-cover flex-none snap-center aspect-square md:aspect-[21/9]"
      >
      <img 
        src="https://down-br.img.susercontent.com/file/f344481bab4ae8b914f2eac8eaa41dd6" 
        alt="imagem do produto"
        class="imagemSlideProduto w-full   overflow-hidden object-cover flex-none snap-center aspect-square md:aspect-[21/9]"
      >
      <img 
        src="https://down-br.img.susercontent.com/file/3102c73fb1cdd10f9b1764312b02b193" 
        alt="imagem do produto"
        class="imagemSlideProduto w-full overflow-hidden object-cover flex-none snap-center aspect-square md:aspect-[21/9]"
      >
    </div>
   
    <button onclick="voltarSlide(), pausarRolagem()" class="h-full lg:px-8 px-2  hover:text-gray-400  absolute top-0 left-0 focus:outline-none ">
      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-chevron-left focus:outline-none" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0"/>
      </svg>
    </button>
    <button onclick="passarSlide(), pausarRolagem()" class="h-full lg:px-8 px-2  hover:text-gray-400  absolute top-0 right-0 focus:outline-none">
      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
      </svg>
    </button>
   
</section>

<script>
  const imagemSlideProduto = document.querySelectorAll('.imagemSlideProduto');
  const containerSlideProduto = document.querySelector('#containerSlideProduto');
  const larguraImagem = imagemSlideProduto[0].offsetWidth;
  let index = 1;
  let pausa = false;

  function voltarSlide(){
    // Calcular a posição de rolagem para a próxima imagem
    const nextScrollLeft = index * larguraImagem;
        
    // Rolar suavemente para a próxima imagem
    containerSlideProduto.scrollTo({
      left: nextScrollLeft * -1,
      behavior: 'smooth'
    });

    // Atualizar o índice para a próxima imagem
    index = (index + 1) % imagemSlideProduto.length;
  };

  function passarSlide(){
    // Calcular a posição de rolagem para a próxima imagem
    const nextScrollLeft = index * larguraImagem;
        
    // Rolar suavemente para a próxima imagem
    containerSlideProduto.scrollTo({
      left: nextScrollLeft,
      behavior: 'smooth'
    });

    // Atualizar o índice para a próxima imagem
    index = (index + 1) % imagemSlideProduto.length;
  };

  let espera = 0;
  setInterval(() => {
    if(pausa == false){
      passarSlide()
    }else{
      espera++
    };

    if(espera == 2){
      espera = 0;
      pausa = false;
    };

  }, 4000);

  function pausarRolagem(){
    pausa = true;
  };


</script>
