<section class="relative max-w-screen-md m-auto">
  <div id="containerSlideProduto" class="relative w-full aspect-square  flex overflow-x-auto lg:overflow-x-hidden space-x-5 snap-mandatory snap-x  ">
    <!-- Produto -->
    <% if (typeof produto[0] != "undefined" && produto[0].imagem) { %>
      <img 
        src="<%= '/img/' +  produto[0].imagem  %>" 
        alt="imagem do produto"
        class="imagemSlideProduto w-full aspect-square object-contain"
        class="w-full rounded-xl overflow-hidden object-contain aspect-square flex-none snap-center border  "
      >
    <% } %>

    <!-- Variantes -->
    <% variantes.forEach(e => { %>
    
      <% if (typeof e.imagem != "undefined" && e.imagem) { %>
        <img 
          src="<%= '/img/' +  e.imagem %>" 
          alt="imagem do produto"
          class="imagemSlideProduto w-full aspect-square object-contain"
          class="w-full rounded-xl overflow-hidden object-contain aspect-square flex-none snap-center border  "
        >
      <% } %>
    <% }) %>
  </div>
 
  <!-- BOTÕES -->
  <% if (produto.length > 1) { %>
    <button onclick="voltarSlide()" class="h-full lg:px-5 px-2 hover:text-gray-400 duration-200  absolute top-0 left-0  border-none">
      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-chevron-left focus:outline-none" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0"/>
      </svg>
    </button>
    <button onclick="passarSlide()" class="h-full lg:px-5 px-2 hover:text-gray-400 duration-200  absolute top-0 right-0  border-none">
      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
      </svg>
    </button>
  <% } %>

</section>
 
</section>
<script src="/js/loja/components/carroselImagens.js"></script>