<div>
    <img 
        src="https://img.freepik.com/vetores-premium/banner-preto-sexta-feira-com-smartphone-entre-baloes-e-bolsas_76844-1703.jpg?w=2000" 
        alt="banner"
        class="w-full aspect-square object-cover"
    >
</div>