<div class="flex overflow-x-auto snap-mandatory snap-x ">
    <img 
        src="https://images.tcdn.com.br/img/img_prod/1193008/1709652470_feed_43.png" 
        alt="banner"
        class="w-full aspect-square object-cover snap-center"
    >
    <img 
        src="https://down-br.img.susercontent.com/file/f344481bab4ae8b914f2eac8eaa41dd6" 
        alt="banner"
        class="w-full aspect-square object-cover snap-center"
    >
    <img 
        src="https://down-br.img.susercontent.com/file/3102c73fb1cdd10f9b1764312b02b193" 
        alt="banner"
        class="w-full aspect-square object-cover snap-center"
    >
</div>


<!-- https://images.tcdn.com.br/img/img_prod/1193008/1709652470_feed_43.png -->
<!-- https://down-br.img.susercontent.com/file/f344481bab4ae8b914f2eac8eaa41dd6 -->
<!-- https://down-br.img.susercontent.com/file/3102c73fb1cdd10f9b1764312b02b193 -->

