<% 
    function tratarNome(nome) {
        return nome.toLowerCase().replace(/[^a-z0-9 ]/g, '').replace(/\s+/g, '-');
    }
%>

<nav class="    ">
    <ul class="flex items-center justify-between md:p-2 space-x-4  col-span-2 md:space-x-4 overflow-x-auto  pb-2 snap-x snap-mandatory md:max-w-screen-2xl  m-auto">

        <% if (typeof data != 'undefined' && data) { %>
            <%  let atual = true; %>
            <% data.map((e, index) => { %>
                <% 
                   
                    if(index > 0) atual = false;

                %>
                <li class="<%= atual ? 'hover:bg-c0 bg-c1  hover:text-c1 text-c0' : 'hover:bg-c1  hover:text-white'%> hover:shadow-md flex-none snap-start duration-100 ease-in md:text-xl font-medium px-4 md:px-8 md:py-2 py-1 rounded-full ">
                    <a href="/categoria/<%= tratarNome(e.nome)  %>" class="lg:text-2xl"><%= e.nome  %></a>
                </li>
             
            <% }) %>
         
        <% } %>

    </ul>
</nav>