<% 
    function tratarNome(nome) {
        return nome.toLowerCase().replace(/ /g, '-')
    }
%>

<ul id="categorias" class="flex items-center justify-start md:p-2 space-x-4  col-span-2 md:space-x-4 overflow-x-auto  pb-2 snap-x snap-mandatory md:max-w-screen-2xl  m-auto ">

    <% if (typeof data != 'undefined' && data) { %>
        
        <% data.map((e, index) => { %>
        
            <li class=" bg-c0   text-c1 border  hover:shadow-md flex-none snap-start duration-100 ease-in md:text-xl font-medium px-4 md:px-8 md:py-2 py-1 rounded-full ">
                <a href="/categoria/<%= tratarNome(e.categoria)  %>" class="lg:text-2xl"><%= e.categoria  %></a>
            </li>
            
        <% }) %>
        
    <% } %>

</ul>

<script>

    document.addEventListener('DOMContentLoaded', function() {
        let selectedItem = document.querySelector('.selecionado');

        // Verificar se o elemento selecionado existe
        if (selectedItem) {
            // Encontrar a posição do item selecionado em relação ao contêiner do carrossel
            let container = document.getElementById('categorias'); // Alteração aqui
            let selectedPosition = selectedItem.offsetLeft;

            // Rolar o carrossel até a posição do item selecionado
            container.scrollLeft = selectedPosition;
        }
    });

</script>



