<section id="menu" class=" fixed top-0   right-[-100%] h-full w-[90%] z-50 duration-300  bg-white flex flex-col justify-between max-w-screen-md  ">

    <ul class="text-right text-gray-700 text-xl space-y-1">

        <li class="p-2 pr-4">
            <button onclick="fecharMenu()" >
                <i class="bi bi-x  text-4xl text-gray-700"></i>
            </button>
        </li>
        <li>
            <div class="bg-blue-100 p-2 pr-5 flex items-center justify-end space-x-2 text-xl text-blue-600 text-right">
                <a href="/criar-conta">Criar Conta</a>
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-person-fill-add" viewBox="0 0 16 16">
                    <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0m-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                    <path d="M2 13c0 1 1 1 1 1h5.256A4.5 4.5 0 0 1 8 12.5a4.5 4.5 0 0 1 1.544-3.393Q8.844 9.002 8 9c-5 0-6 3-6 4"/>
                  </svg>
       
            </div>
        </li>

        <li>
            <div class="bg-blue-100 p-2 pr-5 flex items-center justify-end space-x-2 text-xl text-blue-600 text-right">
                <a href="/fazer-login">Entrar</a>
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-person-fill-check" viewBox="0 0 16 16">
                    <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m1.679-4.493-1.335 2.226a.75.75 0 0 1-1.174.144l-.774-.773a.5.5 0 0 1 .708-.708l.547.548 1.17-1.951a.5.5 0 1 1 .858.514M11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                    <path d="M2 13c0 1 1 1 1 1h5.256A4.5 4.5 0 0 1 8 12.5a4.5 4.5 0 0 1 1.544-3.393Q8.844 9.002 8 9c-5 0-6 3-6 4"/>
                </svg>
                
            </div>
        </li>
        
    </ul>
    <div>

        <div>
            <img src="/assets/logo.png" alt="logo" class="w-[50%] m-auto ">
        </div>
        
    </div>
</section>



<script>
    function fecharMenu(){
        const menu = document.getElementById('menu')
        menu.classList.add('right-[-100%]')

        setTimeout(() => {
            
            menu.classList.add('hidden')
        }, 300);
    }
    function abrirMenu(){
        const menu = document.getElementById('menu')
        menu.classList.remove('hidden')
        
        setTimeout(() => {
            menu.classList.replace('right-[-100%]', 'right-0')

        
        }, 30);
    }
</script>