<nav class="px-5 py-2 md:px-6 lg:px-8 flex items-center justify-between shadow-md">
    <a href="/">
        <img src="/assets/logo.png" alt="logo" class="h-14">
    </a>

    <div class="flex space-x-4 md:space-x-6 lg:space-x-8 items-center text-gray-700  ">

        <button class="flex items-center justify-center  border-blue-500 h-10 w-10">
            <i class="bi bi-search  text-3xl" style="line-height: 10px;"></i>
        </button>
        
        <button onclick="carrinho.abrir()" class="flex items-center justify-center  border-blue-500 h-10 w-10 relative">
            <span id="itensNoCarrinho" class="absolute hidden -top-1 -right-1 bg-red-500 rounded-full text-white w-5 h-5  items-center justify-center">1</span>
            <i class="bi bi-cart3 text-3xl" style="line-height: 10px;"></i>
        </button>

        <button onclick="abrirMenu()" class="flex items-center justify-center  border-blue-500 h-10 w-10">
            <i class="bi bi-list text-4xl" style="line-height: 30px;"></i>
        </button>
    </div>

    
</nav>
<script src="/js/loja/components/navbar.js"></script>