<section class="w-full p-5 py-10 aspect-square bg-pink-500  space-y-5 flex flex-col justify-between">
    <h2 class="text-white font-bold text-xl text-center ">Newsletter</h2>
    <p class="text-white font-bold text-4xl text-center  ">Entre para o nosso clube e receba todas as novidades e promoções</p>

    <div class="relative ">
        <input type="email" name="" id="" class="focus:underline-none px-4 py-2 w-full rounded-lg" placeholder="E-mail">
        <button class="absolute top-0 right-0   w-10 h-10">
            <i class="bi bi-arrow-right-short scale-150 text-4xl text-gray-600 leading-3"></i>
        </button>
    </div>
</section>